body {
     margin:0;
     overflow-x:hidden;
}
.outside_top {
    width:1200px; 
    margin :0px auto;
    
}

#title {
    width:1200px;
    height:60px;
    font-size:24px;
    
    font-weight:900;
    color:#000000;
}
.title {
    float:left;
    padding-right:30px;
    padding-top:30px;
    
}

#content {
    width:1200px;
    height:360px;
    
}

#content1 {
    width:1200px;
    height:360px;
    background-color:red;
    
}
#content2 {
    width:1200px;
    height:360px;
    background-color:gray;
    
}
#content3 {
    width:1200px;
    height:360px;
    background-color:black;
    
    
}
#content4 {
    width:1200px;
    height:360px;
    background-color:yellow;
    
}
