body {
     margin:0;
     overflow-x:hidden;
}
.outside_top {
    width:600px; 
    margin :0px auto;
    
}

#title {
    width:600px;
    height:30px;
    font-size:24px;
    line-height:30px;
    margin:0px;
    padding:0px;
    font-weight:900;
    color:#000000;
}
.title {
    float:left;
    padding-right:10px;
    padding-left:10px;
    padding-top:0px;
    padding-bottom:0px;
    margin:0px;
    background-color:red;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}

#content {
    width:600px;
    height:200px;
    margin:0px;
    padding:0px;

}

#content1 {
    margin:0px;
    padding:0px;
    width:600px;
    height:200px;
    background-color:red;
    border-bottom-right-radius:30px;
}
#content2 {
    margin:0px;
    padding:0px;
    width:600px;
    height:200px;
    background-color:gray;
    border-bottom-right-radius:30px;
}
#content3 {
    margin:0px;
    padding:0px;
    width:600px;
    height:200px;
    background-color:black;
    border-bottom-right-radius:30px;
    
}
#content4 {
    margin:0px;
    padding:0px;
    width:600px;
    height:200px;
    background-color:yellow;
    border-bottom-right-radius:30px;
}
