body {
     margin:0;
     overflow-x:hidden;
}
.outside_top {
    width:1200px; 
    margin :0px auto;
    
}

#title {
    width:1200px;
    height:60px;
    font-size:24px;
    
    margin:0px;
    padding:0px;
    font-weight:900;
    color:#000000;
}
.title {
    float:left;
    padding-right:30px;
    padding-top:30px;
    /*padding-left:10px;
    padding-top:0px;
    padding-bottom:0px;*/
    margin:0px;
   
    
}

#content {
    width:1200px;
    height:360px;
    margin:0px;
    padding:0px;

}

#content1 {
    margin:0px;
    padding:0px;
    width:1200px;
    height:360px;
    background-color:red;
   
}
#content2 {
    margin:0px;
    padding:0px;
    width:1200px;
    height:360px;
    background-color:gray;
    
}
#content3 {
    margin:0px;
    padding:0px;
    width:1200px;
    height:360px;
    background-color:black;
   
    
}
#content4 {
    margin:0px;
    padding:0px;
    width:1200px;
    height:360px;
    background-color:yellow;
   
}
#top_1 {
    background-image:url(benjibird_img/1.png);
    background-repeat:no-repeat;
    height:700px;
}
